<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Seus dados:</p>
          <div class="col-xs-12 col-sm-3 pull-right">
            <span class="help-block has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i
                class="fa fa-remove"></i>E-mails não conferem</span>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12'>
          <mt-input-content errorMessage="Esse campo é obrigatório e com 5 caracteres" label="Nome">
            <input class="form-control" placeholder="Nome" required minlength="5" autocomplete="off"
              formControlName="name" />
          </mt-input-content>
        </div>
        <div class="col-sm-3 col-xs-12">
          <mt-input-content errorMessage="E-mail inválido" label="E-mail">
            <input class="form-control" placeholder="E-mail" required autocomplete="off" formControlName='email' />
          </mt-input-content>
        </div>
        <div class="col-sm-3 col-xs-12">
          <mt-input-content errorMessage="E-mail inválido" label="E-mail">
            <input class="form-control" placeholder="Confirmação de e-mail" required autocomplete="off"
              formControlName='emailConfirmation' />
          </mt-input-content>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-content errorMessage="Esse campo é obrigatório e com 5 caracteres" label='Endereço'>
            <input class="form-control" placeholder="Endereço" minlength="5" autocomplete="off"
              formControlName="address" required />
          </mt-input-content>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-content errorMessage="Obrigatório e somente números" label='Number'>
            <input class="form-control" placeholder="Number" pattern="^[0-9]*$" autocomplete="off"
              formControlName="number" required />
          </mt-input-content>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-content>
            <input class="form-control" placeholder="Complemento" autocomplete="off"
              formControlName="optionalAddress" />
          </mt-input-content>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <mt-order-items [items]="cartItems()" (decreaseQty)="decreaseQty($event)" (increaseQty)="increaseQty($event)"
        (remove)="remove($event)">
      </mt-order-items>

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]='paymentOptions' formControlName='paymentOption' required></mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [itemsValue]="itemsValue()" [delivery]="deliveryCost"></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkOrder(orderForm.value)" href="order-summary.html" role="button"
          class="btn btn-success pull-right" [disabled]="!orderForm.valid || itemsValue() === 0"><i
            class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->